In [1]:
import csv
import xml.etree.ElementTree as et
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [2]:
matches = ['f24-4-2013-731767-eventdetails.xml','f24-4-2013-731769-eventdetails.xml','f24-4-2013-731773-eventdetails.xml',
'f24-4-2013-731774-eventdetails.xml','f24-4-2013-731777-eventdetails.xml','f24-4-2013-731779-eventdetails.xml',
'f24-4-2013-731781-eventdetails.xml','f24-4-2013-731783-eventdetails.xml','f24-4-2013-731785-eventdetails.xml',
'f24-4-2013-731786-eventdetails.xml','f24-4-2013-731789-eventdetails.xml','f24-4-2013-731790-eventdetails.xml',
'f24-4-2013-731793-eventdetails.xml','f24-4-2013-731795-eventdetails.xml','f24-4-2013-731798-eventdetails.xml',
'f24-4-2013-731799-eventdetails.xml','f24-4-2013-731801-eventdetails.xml','f24-4-2013-731802-eventdetails.xml',
'f24-4-2013-731806-eventdetails.xml','f24-4-2013-731809-eventdetails.xml','f24-4-2013-731811-eventdetails.xml',
'f24-4-2013-731814-eventdetails.xml','f24-4-2013-731815-eventdetails.xml','f24-4-2013-731817-eventdetails.xml',
'f24-4-2013-731818-eventdetails.xml','f24-4-2013-731820-eventdetails.xml','f24-4-2013-731821-eventdetails.xml',
'f24-4-2013-731822-eventdetails.xml','f24-4-2013-731823-eventdetails.xml','f24-4-2013-731824-eventdetails.xml',
'f24-4-2013-731825-eventdetails.xml','f24-4-2013-731826-eventdetails.xml','f24-4-2013-731827-eventdetails.xml',
'f24-4-2013-731828-eventdetails.xml','f24-4-2013-731829-eventdetails.xml','f24-4-2013-731830-eventdetails.xml']

In [3]:
x_start = []
y_start = []
outcome = []
minute = []
half = []
team = []
x_end = []
y_end = []
game_num = []

In [4]:
for x in matches:
    
    tree = et.ElementTree(file = x)
    gameFile = tree.getroot()
    team_dict = {gameFile[0].attrib["home_team_id"]: gameFile[0].attrib["home_team_name"],
                 gameFile[0].attrib["away_team_id"]: gameFile[0].attrib["away_team_name"]}

    for game in gameFile:
    
        for event in game:
        
            if event.attrib.get("type_id") == '13':
            
                x_start.append(event.attrib.get("x"))
                y_start.append(event.attrib.get("y"))
                outcome.append('Miss')
                minute.append(event.attrib.get("min"))
                half.append(event.attrib.get("period_id"))
                team.append(team_dict[event.attrib.get("team_id")])
                game_num.append(x)
                
                for qualifier in event:

                    if qualifier.attrib.get("qualifier_id") == "102":
                        x_end.append(100)
                        y_end.append(qualifier.attrib.get("value"))

In [5]:
for x in matches:
    
    tree = et.ElementTree(file = x)
    gameFile = tree.getroot()
    team_dict = {gameFile[0].attrib["home_team_id"]: gameFile[0].attrib["home_team_name"],
                 gameFile[0].attrib["away_team_id"]: gameFile[0].attrib["away_team_name"]}
    
    for game in gameFile:

        for event in game:

            if event.attrib.get("type_id") == '14':

                x_start.append(event.attrib.get("x"))
                y_start.append(event.attrib.get("y"))
                outcome.append('Woodwork')
                minute.append(event.attrib.get("min"))
                half.append(event.attrib.get("period_id"))
                team.append(team_dict[event.attrib.get("team_id")])
                game_num.append(x)

                for qualifier in event:

                    if qualifier.attrib.get("qualifier_id") == "102":
                        x_end.append(100)
                        y_end.append(qualifier.attrib.get("value"))

In [6]:
for x in matches:
    
    tree = et.ElementTree(file = x)
    gameFile = tree.getroot()
    team_dict = {gameFile[0].attrib["home_team_id"]: gameFile[0].attrib["home_team_name"],
                 gameFile[0].attrib["away_team_id"]: gameFile[0].attrib["away_team_name"]}

    for game in gameFile:

        for event in game:

            if event.attrib.get("type_id") == '15':

                x_start.append(event.attrib.get("x"))
                y_start.append(event.attrib.get("y"))
                outcome.append('Save')
                minute.append(event.attrib.get("min"))
                half.append(event.attrib.get("period_id"))
                team.append(team_dict[event.attrib.get("team_id")])
                game_num.append(x)
 
                for qualifier in event:

                    if qualifier.attrib.get("qualifier_id") == "146":
                        x_end.append(qualifier.attrib.get("value"))
                    if qualifier.attrib.get("qualifier_id") == "147":
                        y_end.append(qualifier.attrib.get("value"))
                    if qualifier.attrib.get("qualifier_id") == "82":
                        outcome.pop(-1)
                        outcome.append("Block")

In [7]:
for x in matches:
    
    tree = et.ElementTree(file = x)
    gameFile = tree.getroot()
    team_dict = {gameFile[0].attrib["home_team_id"]: gameFile[0].attrib["home_team_name"],
                 gameFile[0].attrib["away_team_id"]: gameFile[0].attrib["away_team_name"]}

    for game in gameFile:

        for event in game:

            if event.attrib.get("type_id") == '16':

                x_start.append(event.attrib.get("x"))
                y_start.append(event.attrib.get("y"))
                outcome.append('Goal')
                minute.append(event.attrib.get("min"))
                half.append(event.attrib.get("period_id"))
                team.append(team_dict[event.attrib.get("team_id")])
                game_num.append(x)

                for qualifier in event:

                    if qualifier.attrib.get("qualifier_id") == "102":
                        x_end.append(100)
                        y_end.append(qualifier.attrib.get("value"))

In [8]:
column_titles = ["team", "half", "min", "x_start", "y_start", "outcome", "x_end", "y_end", "game"]            
final_table = pd.DataFrame(data=[team, half, minute, x_start, y_start, outcome, x_end, y_end, game_num],
                           index=column_titles)
final_table = final_table.T
final_table

,team,half,min,x_start,y_start,outcome,x_end,y_end,game
0,Croatia,1,0,76.2,72.8,Miss,100,60.1,f24-4-2013-731767-eventdetails.xml
1,Croatia,1,6,91.3,57.5,Miss,100,58.3,f24-4-2013-731767-eventdetails.xml
2,Croatia,1,10,90.9,57.3,Miss,100,35.9,f24-4-2013-731767-eventdetails.xml
3,Brazil,1,21,94.9,73.6,Miss,100,59.9,f24-4-2013-731767-eventdetails.xml
4,Brazil,1,44,90.7,28.9,Miss,100,65.3,f24-4-2013-731767-eventdetails.xml
...,...,...,...,...,...,...,...,...,...
955,Argentina,5,125,88.5,49.9,Goal,100,51.5,f24-4-2013-731828-eventdetails.xml
956,Netherlands,1,2,88.5,50.0,Goal,100,45.6,f24-4-2013-731829-eventdetails.xml
957,Netherlands,1,15,88.5,51.8,Goal,100,46.6,f24-4-2013-731829-eventdetails.xml
958,Netherlands,2,90,91.0,44.3,Goal,100,45.9,f24-4-2013-731829-eventdetails.xml
959,Germany,4,112,96.4,60.2,Goal,100,46.1,f24-4-2013-731830-eventdetails.xml

In [9]:
final_table = final_table.replace('f24-4-2013-731767-eventdetails.xml','Brazil vs Croatia')
final_table = final_table.replace('f24-4-2013-731769-eventdetails.xml','Spain vs Netherlands')
final_table = final_table.replace('f24-4-2013-731773-eventdetails.xml','Uruguay vs Costa Rica')
final_table = final_table.replace('f24-4-2013-731774-eventdetails.xml','England vs Italy')
final_table = final_table.replace('f24-4-2013-731777-eventdetails.xml','Argentina vs Bosnia and Herzegovina')
final_table = final_table.replace('f24-4-2013-731779-eventdetails.xml','Germany vs Portugal')
final_table = final_table.replace('f24-4-2013-731781-eventdetails.xml','Belgium vs Algeria')
final_table = final_table.replace('f24-4-2013-731783-eventdetails.xml','Brazil vs Mexico')
final_table = final_table.replace('f24-4-2013-731785-eventdetails.xml','Spain vs Chile')
final_table = final_table.replace('f24-4-2013-731786-eventdetails.xml','Australia vs Netherlands')
final_table = final_table.replace('f24-4-2013-731789-eventdetails.xml','Uruguay vs England')
final_table = final_table.replace('f24-4-2013-731790-eventdetails.xml','Italy vs Costa Rica')
final_table = final_table.replace('f24-4-2013-731793-eventdetails.xml','Argentina vs Iran')
final_table = final_table.replace('f24-4-2013-731795-eventdetails.xml','Germany vs Ghana')
final_table = final_table.replace('f24-4-2013-731798-eventdetails.xml','South Korea vs Algeria')
final_table = final_table.replace('f24-4-2013-731799-eventdetails.xml','Cameroon vs Brazil')
final_table = final_table.replace('f24-4-2013-731801-eventdetails.xml','Australia vs Spain')
final_table = final_table.replace('f24-4-2013-731802-eventdetails.xml','Netherlands vs Chile')
final_table = final_table.replace('f24-4-2013-731806-eventdetails.xml','Costa Rica vs England')
final_table = final_table.replace('f24-4-2013-731809-eventdetails.xml','Nigeria vs Argentina')
final_table = final_table.replace('f24-4-2013-731811-eventdetails.xml','USA vs Germany')
final_table = final_table.replace('f24-4-2013-731814-eventdetails.xml','Algeria vs Russia')
final_table = final_table.replace('f24-4-2013-731815-eventdetails.xml','Brazil vs Chile')
final_table = final_table.replace('f24-4-2013-731817-eventdetails.xml','Netherlands vs Mexico')
final_table = final_table.replace('f24-4-2013-731818-eventdetails.xml','Costa Rica vs Greece')
final_table = final_table.replace('f24-4-2013-731820-eventdetails.xml','Germany vs Algeria')
final_table = final_table.replace('f24-4-2013-731821-eventdetails.xml','Argentina vs Switzerland')
final_table = final_table.replace('f24-4-2013-731822-eventdetails.xml','Belgium vs USA')
final_table = final_table.replace('f24-4-2013-731823-eventdetails.xml','Brazil vs Colombia')
final_table = final_table.replace('f24-4-2013-731824-eventdetails.xml','France vs Germany')
final_table = final_table.replace('f24-4-2013-731825-eventdetails.xml','Netherlands vs Costa Rica')
final_table = final_table.replace('f24-4-2013-731826-eventdetails.xml','Argentina vs Belgium')
final_table = final_table.replace('f24-4-2013-731827-eventdetails.xml','Brazil vs Germany')
final_table = final_table.replace('f24-4-2013-731828-eventdetails.xml','Netherlands vs Argentina')
final_table = final_table.replace('f24-4-2013-731829-eventdetails.xml','Brazil vs Netherlands')
final_table = final_table.replace('f24-4-2013-731830-eventdetails.xml','Germany vs Argentina')

In [10]:
final_table.to_csv('shots.csv')

In [11]:
df = pd.read_csv('shots.csv')

In [12]:
df['x_start'] = df['x_start']*1.2
df['y_start'] = df['y_start']*.8
df['x_end'] = df['x_end']*1.2
df['y_end'] = df['y_end']*.8

In [13]:
df = df.drop('Unnamed: 0',axis=1)

In [14]:
df.to_csv('shots.csv')